In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### load train and test data

In [2]:
train_data=pd.read_csv("loan_data_train.csv")
test_data=pd.read_csv("loan_data_test.csv")
print(train_data.shape)
print(test_data.shape)

(2200, 15)
(300, 14)

#### create a interest rate column and assign missing values to it

In [3]:
test_data['Interest.Rate']=np.nan

In [4]:
train_data['data']='train'
test_data['data']='test'

In [5]:
test_data.head(2)

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,Interest.Rate,data
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year,NaN,test
1,62445,18000,18000,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years,NaN,test

In [6]:
train_data.head(2)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train

#### Here we want to  match the names in both train and test and positions also

In [7]:
test_data=test_data[train_data.columns]

In [8]:
test_data.head(2)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,20093,5000,5000,NaN,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year,test
1,62445,18000,18000,NaN,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years,test

In [9]:
train_data.head(2)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train

#### now both interest rates are at same 4 position its optimal to perform the concat

In [10]:
ld_all=pd.concat([train_data,test_data],axis=0)

In [11]:
ld_all.head(2)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years,train
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years,train

In [12]:
ld_all.tail(2)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data
298,36931.0,13600,13600,NaN,60 months,credit_card,12.85%,MN,RENT,5651.33,675-679,13,24383,0.0,10+ years,test
299,34744.0,6000,6000,NaN,36 months,debt_consolidation,7.64%,IL,MORTGAGE,5184.75,675-679,8,14422,0.0,2 years,test

In [13]:
ld_all.shape

(2500, 16)

In [19]:
ld_all.dtypes

Amount.Requested                   object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
FICO                              float64
dtype: object

#### Now we deal with the object columns

In [15]:
ld_all.drop(['ID','Amount.Funded.By.Investors'],axis=1,inplace=True)

#### For Interest.Rate and Debt.To.Income.Ratio   has problem rate of % symbol

In [16]:
for col in ['Interest.Rate','Debt.To.Income.Ratio']:
    ld_all[col]=ld_all[col].str.replace("%",'')

#### Create two columns with Fico Range and calculate the mean, create that as new fico column.

In [17]:
k=ld_all['FICO.Range'].str.split("-",expand=True).astype(float)
ld_all['FICO']=0.5*(k[0]+k[1])
del ld_all['FICO.Range']

In [21]:
ld_all['FICO'].head()

0    722.0
1    712.0
2    692.0
3    712.0
4    732.0
Name: FICO, dtype: float64

In [22]:
for col in ['Amount.Requested', 'Interest.Rate','Debt.To.Income.Ratio',
            'Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
    ld_all[col]=pd.to_numeric(ld_all[col],errors='coerce')

In [23]:
ld_all.dtypes

Amount.Requested                  float64
Interest.Rate                     float64
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio              float64
State                              object
Home.Ownership                     object
Monthly.Income                    float64
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
FICO                              float64
dtype: object

In [32]:
ld_all['Employment.Length'].value_counts()

10.0    653
0.0     249
2.0     243
3.0     235
5.0     202
4.0     191
1.0     177
6.0     163
7.0     127
8.0     108
9.0      72
Name: Employment.Length, dtype: int64

In [25]:
ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('years',"")

In [26]:
ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('year',"")

In [28]:
ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[:2]=="10",10,ld_all['Employment.Length'])

In [30]:
ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[0]=="<",0,ld_all['Employment.Length'])

In [31]:
ld_all['Employment.Length']=pd.to_numeric(ld_all['Employment.Length'],errors='coerce')

In [35]:
ld_all['Employment.Length'].head()

0     5.0
1     4.0
2     0.0
3    10.0
4    10.0
Name: Employment.Length, dtype: float64

In [37]:
cat_cols=ld_all.select_dtypes(['object']).columns
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership', 'data'], dtype='object')

In [38]:
cat_cols=cat_cols[:-1]
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership'], dtype='object')

#### create dummies for these variables

In [39]:
for col in cat_cols:
    freqs=ld_all[col].value_counts()
    k=freqs.index[freqs>20][:-1]
    for cat in k:
        name=col+'_'+cat
        ld_all[name]=(ld_all[col]==cat).astype(int)
    del ld_all[col]
    print(col)

Loan.Length
Loan.Purpose
State
Home.Ownership

In [40]:
ld_all.shape

(2500, 51)

In [41]:
ld_all.isnull().sum()

Amount.Requested                     5
Interest.Rate                      300
Debt.To.Income.Ratio                 1
Monthly.Income                       3
Open.CREDIT.Lines                    9
Revolving.CREDIT.Balance             5
Inquiries.in.the.Last.6.Months       3
Employment.Length                   80
data                                 0
FICO                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_MN                             0
State_AL                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_KS                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [42]:
for col in ld_all.columns:
    if (col not in ['Interest.Rate','data'])& (ld_all[col].isnull().sum()>0):
        ld_all.loc[ld_all[col].isnull(),col]=ld_all.loc[ld_all['data']=='train',col].mean()

In [43]:
ld_all.isnull().sum()

Amount.Requested                     0
Interest.Rate                      300
Debt.To.Income.Ratio                 0
Monthly.Income                       0
Open.CREDIT.Lines                    0
Revolving.CREDIT.Balance             0
Inquiries.in.the.Last.6.Months       0
Employment.Length                    0
data                                 0
FICO                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_MN                             0
State_AL                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_KS                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [44]:
ld_train=ld_all[ld_all['data']=='train']
del ld_train['data']

In [45]:
ld_test=ld_all[ld_all['data']=='test']
ld_test.drop(['Interest.Rate','data'],axis=1,inplace=True)

C:\Users\vikhi\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [46]:
ld_test.head()

,Amount.Requested,Debt.To.Income.Ratio,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,FICO,Loan.Length_36 months,Loan.Purpose_debt_consolidation,...,State_MO,State_NV,State_OR,State_SC,State_WI,State_KY,State_LA,State_KS,Home.Ownership_MORTGAGE,Home.Ownership_RENT
0,5000.0,12.59,4416.67,13.0,7686.0,0.0,0.0,692.0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,18000.0,4.93,5258.50,6.0,11596.0,0.0,10.0,712.0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,7200.0,25.16,3750.00,13.0,7283.0,0.0,6.0,752.0,0,1,...,0,0,0,0,0,0,1,0,1,0
3,7200.0,17.27,3416.67,14.0,4838.0,0.0,10.0,792.0,1,1,...,0,0,0,0,0,0,0,0,1,0
4,22000.0,18.28,6083.33,9.0,20181.0,0.0,8.0,722.0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [48]:
ld_train.head()

,Amount.Requested,Interest.Rate,Debt.To.Income.Ratio,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,FICO,Loan.Length_36 months,...,State_MO,State_NV,State_OR,State_SC,State_WI,State_KY,State_LA,State_KS,Home.Ownership_MORTGAGE,Home.Ownership_RENT
0,25000.0,18.49,27.56,8606.56,11.0,15210.0,3.0,5.0,722.0,0,...,0,0,0,0,0,0,0,0,1,0
1,19750.0,17.27,13.39,6737.50,14.0,19070.0,3.0,4.0,712.0,0,...,0,0,0,0,0,0,0,0,1,0
2,2100.0,14.33,3.50,1000.00,13.0,893.0,1.0,0.0,692.0,1,...,0,0,0,0,0,0,1,0,0,0
3,28000.0,16.29,19.62,7083.33,12.0,38194.0,1.0,10.0,712.0,1,...,0,1,0,0,0,0,0,0,1,0
4,24250.0,12.23,23.79,5833.33,6.0,31061.0,2.0,10.0,732.0,0,...,0,0,0,0,0,0,0,0,1,0

In [47]:
print(ld_test.shape)
print(ld_train.shape)

(300, 49)
(2200, 50)

In [49]:
del ld_all

In [50]:
from sklearn.model_selection import train_test_split
ld_train1,ld_train2=train_test_split(ld_train,test_size=0.2,random_state=2)

In [51]:
# Notice that only train data is used for imputing missing values in both train and test 
x_train1=ld_train1.drop('Interest.Rate',axis=1)
y_train1=ld_train1['Interest.Rate']

In [52]:
from sklearn.linear_model import LinearRegression

In [53]:
lr=LinearRegression()

In [54]:
lr.fit(x_train1,y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [56]:
lr.intercept_

75.92121413595054

In [57]:
list(zip(x_train1.columns,lr.coef_))

[('Amount.Requested', 0.00015602405153877178),
 ('Debt.To.Income.Ratio', -0.003938504173776881),
 ('Monthly.Income', -2.656857356925758e-05),
 ('Open.CREDIT.Lines', -0.03992260834024172),
 ('Revolving.CREDIT.Balance', -3.9236478590054524e-06),
 ('Inquiries.in.the.Last.6.Months', 0.336117211131329),
 ('Employment.Length', 0.03499367189451008),
 ('FICO', -0.08667701121950777),
 ('Loan.Length_36 months', -3.1437472469505954),
 ('Loan.Purpose_debt_consolidation', -0.4673935690355939),
 ('Loan.Purpose_credit_card', -0.6069873604061782),
 ('Loan.Purpose_other', 0.44417142270192744),
 ('Loan.Purpose_home_improvement', -0.36118998491814225),
 ('Loan.Purpose_major_purchase', -0.0958952493266565),
 ('Loan.Purpose_small_business', 0.06800548772823983),
 ('Loan.Purpose_car', 0.02525962803601209),
 ('Loan.Purpose_wedding', -0.7791542650056449),
 ('Loan.Purpose_medical', -0.4281152109954979),
 ('Loan.Purpose_moving', 1.2845276544595698),
 ('State_CA', -0.21159715256759049),
 ('State_NY', -0.12777976346385975),
 ('State_TX', 0.4656519996969042),
 ('State_FL', 0.08536509194007735),
 ('State_IL', -0.6478521077890989),
 ('State_GA', -0.028715232683425185),
 ('State_PA', -0.553149192355024),
 ('State_NJ', -0.425271582429299),
 ('State_VA', -0.19001827943024108),
 ('State_MA', 0.09032034036316813),
 ('State_OH', -0.3613940340219993),
 ('State_MD', -0.016614796909706284),
 ('State_NC', -0.30125204925156157),
 ('State_CO', -0.05643938739112199),
 ('State_WA', -0.24431943682020243),
 ('State_CT', 0.4450659067910996),
 ('State_AZ', 0.2647218526843687),
 ('State_MI', -0.15816583557369654),
 ('State_MN', -0.07658290397396256),
 ('State_AL', -0.3217662352715165),
 ('State_MO', -0.4320941840325295),
 ('State_NV', -0.12433340941260984),
 ('State_OR', 0.12024829459476341),
 ('State_SC', 0.024771345260440364),
 ('State_WI', -0.1650692026702118),
 ('State_KY', 0.26922860325685105),
 ('State_LA', -0.048796879951854596),
 ('State_KS', 0.244242917964486),
 ('Home.Ownership_MORTGAGE', -0.49278993963527784),
 ('Home.Ownership_RENT', -0.22835804629261114)]

In [58]:
x_train2=ld_train2.drop('Interest.Rate',axis=1)

In [59]:
predicted_ir=lr.predict(x_train2)

In [60]:
from sklearn.metrics import mean_absolute_error

In [61]:
mean_absolute_error(ld_train2['Interest.Rate'],predicted_ir)

1.6278267948890555

#### We know the tentative performance now, lets build the model on entire training to make prediction on test/production

In [62]:
x_train=ld_train.drop('Interest.Rate',axis=1)
y_train=ld_train['Interest.Rate']

In [63]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [65]:
test_pred=lr.predict(ld_test)

#### We can write these to a csv file for submission like this :

In [70]:
pd.DataFrame(test_pred).to_csv("predicted_interest_rate.csv",index=False)

# Ridge  Regression

In [78]:
from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import GridSearchCV

In [79]:
lambdas=np.linspace(1,100,100)

In [80]:
params={'alpha':lambdas}

In [81]:
model=Ridge(fit_intercept=True)

In [82]:
grid_search=GridSearchCV(model,param_grid=params,cv=10)

In [83]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,...
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100.])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [84]:
grid_search.best_estimator_

Ridge(alpha=27.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

 if you want you can now fit a ridge regression model with obtained value of alpha , although there is no need, grid search automatically fits the best estimator on the entire data, you can directly use this to make predictions on test_data. But if you want to look at coefficients , its much more convenient to fit the model with direct function

In [85]:
test_pred=grid_search.predict(ld_test)

In [86]:
pd.DataFrame(test_pred).to_csv("ridge_regression_interest_pred.csv",index=False)

## For looking at coefficients

In [87]:
ridge_model=grid_search.best_estimator_

In [88]:
ridge_model.fit(x_train,y_train)

Ridge(alpha=27.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [89]:
list(zip(x_train1.columns,ridge_model.coef_))

[('Amount.Requested', 0.00016581015801357915),
 ('Debt.To.Income.Ratio', -0.0012873526812501612),
 ('Monthly.Income', -2.90573169358291e-05),
 ('Open.CREDIT.Lines', -0.03652261919105862),
 ('Revolving.CREDIT.Balance', -2.9498226604958795e-06),
 ('Inquiries.in.the.Last.6.Months', 0.3419855195609788),
 ('Employment.Length', 0.019705354007555558),
 ('FICO', -0.08662452996846914),
 ('Loan.Length_36 months', -2.890180833056178),
 ('Loan.Purpose_debt_consolidation', -0.38871393471172216),
 ('Loan.Purpose_credit_card', -0.4840767514972078),
 ('Loan.Purpose_other', 0.37488164710892047),
 ('Loan.Purpose_home_improvement', -0.2554751343392334),
 ('Loan.Purpose_major_purchase', -0.02719059630628898),
 ('Loan.Purpose_small_business', 0.08083359347542031),
 ('Loan.Purpose_car', -0.052321707837071345),
 ('Loan.Purpose_wedding', -0.37120459674838585),
 ('Loan.Purpose_medical', -0.11574783696738014),
 ('Loan.Purpose_moving', 0.512462943742361),
 ('State_CA', -0.09609419414715813),
 ('State_NY', -0.05223514186547627),
 ('State_TX', 0.44563307659119406),
 ('State_FL', 0.024355244947398325),
 ('State_IL', -0.3705719214740082),
 ('State_GA', -0.09123030851463243),
 ('State_PA', -0.30047292498373224),
 ('State_NJ', -0.22453228436934985),
 ('State_VA', -0.008103077568057252),
 ('State_MA', -0.016028953512330364),
 ('State_OH', -0.14540493103870986),
 ('State_MD', 0.008987706754832426),
 ('State_NC', -0.26657404177883964),
 ('State_CO', 0.10024618480980571),
 ('State_WA', -0.09957871015975349),
 ('State_CT', 0.2752401799627746),
 ('State_AZ', 0.30224702436710094),
 ('State_MI', -0.004534959824891397),
 ('State_MN', -0.05107318280189837),
 ('State_AL', 0.012254871711564376),
 ('State_MO', -0.13823909204353502),
 ('State_NV', -0.01780363637454962),
 ('State_OR', 0.05142489254953159),
 ('State_SC', 0.010777282380898316),
 ('State_WI', 0.07032380440956233),
 ('State_KY', 0.07702171523097942),
 ('State_LA', 0.12515982954596316),
 ('State_KS', 0.14013791681700685),
 ('Home.Ownership_MORTGAGE', -0.319223454660901),
 ('Home.Ownership_RENT', -0.10902446292113828)]

## Lasso Regression

In [90]:
lambdas=np.linspace(1,10,100)
model=Lasso(fit_intercept=True)
params={'alpha':lambdas}

In [91]:
grid_search=GridSearchCV(model,param_grid=params,cv=10)

In [92]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([ 1.        ,  1.09090909,  1.18181818,  1.27272727,  1.36363636,
        1.45454545,  1.5454...
        7.36363636,  7.45454545,  7.54545455,  7.63636364,  7.72727273,
        7.81818182,  7.90909091,  8.        ,  8.09090909,  8.18181818,
        8.27272727,  8.36363636,  8.45454545,  8.54545455,  8.63636364,
        8.72727273,  8.81818182,  8.90909091,  9.        ,  9.09090909,
        9.18181818,  9.27272727,  9.36363636,  9.45454545,  9.54545455,
        9.63636364,  9.72727273,  9.81818182,  9.90909091, 10.        ])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [93]:
grid_search.best_estimator_

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

you can see that, the best value of alpha comes at the edge of the range that we tried , we should expand the trial range on that side and run this again

In [94]:
lambdas=np.linspace(.001,2,100)
params={'alpha':lambdas}

In [96]:
grid_search=GridSearchCV(model,param_grid=params,cv=10)
grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([1.00000000e-03, 2.11919192e-02, 4.13838384e-02, 6.15757576e-02,
       8.17...
       1.61635354e+00, 1.63654545e+00, 1.65673737e+00, 1.67692929e+00,
       1.69712121e+00, 1.71731313e+00, 1.73750505e+00, 1.75769697e+00,
       1.77788889e+00, 1.79808081e+00, 1.81827273e+00, 1.83846465e+00,
       1.85865657e+00, 1.87884848e+00, 1.89904040e+00, 1.91923232e+00,
       1.93942424e+00, 1.95961616e+00, 1.97980808e+00, 2.00000000e+00])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [97]:
grid_search.best_estimator_

Lasso(alpha=0.021191919191919192, copy_X=True, fit_intercept=True,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [98]:
lasso_model=grid_search.best_estimator_

In [99]:
lasso_model.fit(x_train,y_train)

Lasso(alpha=0.021191919191919192, copy_X=True, fit_intercept=True,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [101]:
list(zip(x_train.columns,lasso_model.coef_))

[('Amount.Requested', 0.00016025576388069374),
 ('Debt.To.Income.Ratio', -0.0009940455335086431),
 ('Monthly.Income', -2.7161150694601474e-05),
 ('Open.CREDIT.Lines', -0.03776066942268258),
 ('Revolving.CREDIT.Balance', -3.2291582902347866e-06),
 ('Inquiries.in.the.Last.6.Months', 0.32734647665538585),
 ('Employment.Length', 0.011883001638602755),
 ('FICO', -0.08647817945138424),
 ('Loan.Length_36 months', -3.0098932744846625),
 ('Loan.Purpose_debt_consolidation', -0.1780182230425123),
 ('Loan.Purpose_credit_card', -0.22053269213383622),
 ('Loan.Purpose_other', 0.3196217853383159),
 ('Loan.Purpose_home_improvement', -0.0),
 ('Loan.Purpose_major_purchase', 0.0),
 ('Loan.Purpose_small_business', 0.0),
 ('Loan.Purpose_car', 0.0),
 ('Loan.Purpose_wedding', -0.0),
 ('Loan.Purpose_medical', -0.0),
 ('Loan.Purpose_moving', 0.0),
 ('State_CA', -0.0),
 ('State_NY', 0.0),
 ('State_TX', 0.2592516325019152),
 ('State_FL', 0.0),
 ('State_IL', -0.0),
 ('State_GA', -0.0),
 ('State_PA', -0.0),
 ('State_NJ', -0.0),
 ('State_VA', 0.0),
 ('State_MA', 0.0),
 ('State_OH', -0.0),
 ('State_MD', 0.0),
 ('State_NC', -0.0),
 ('State_CO', 0.0),
 ('State_WA', -0.0),
 ('State_CT', 0.0),
 ('State_AZ', 0.0),
 ('State_MI', 0.0),
 ('State_MN', -0.0),
 ('State_AL', 0.0),
 ('State_MO', -0.0),
 ('State_NV', 0.0),
 ('State_OR', 0.0),
 ('State_SC', 0.0),
 ('State_WI', 0.0),
 ('State_KY', 0.0),
 ('State_LA', 0.0),
 ('State_KS', 0.0),
 ('Home.Ownership_MORTGAGE', -0.15598777750113385),
 ('Home.Ownership_RENT', 0.0)]